# Byte-compiled / optimized / DLL files
__pycache__/

# IDEs
.vscode/
.claude/

# Libraries
*.so
*.dylib

# Executables
testsuite

# Module files
*.mod

# OS files
.DS_Store

# Distribution / packaging
build/
dist/
wheelhouse/
*.egg-info/

# Environment files
.python-version
